body {
  background-color: rgb(144, 79, 79);
}

#heading {
  color: rgb(76, 20, 20);
  text-align: center;
}

#app-container {
  display: flex;
  margin: 20px;
  height: 400px;
}

.switch-button {
  background-color: rgb(219, 142, 142);
  box-shadow: 5px 5px 5px brown;
  font-size: larger;
  color: rgb(115, 27, 27);
  height: 80px;
  width: auto;
}

#button-div {
  display: flex;
  justify-content: center;
}

.bucket {
  height: auto;
  width: 70%;
  overflow: hidden;
  border: 2px solid black;
  background-color: rgb(171, 184, 195);
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 5%;
  padding: 20px;
}


.ball {
  height: 0;
  width: 50%;
  /* max-width: 53px; */
  /* max-height: 53px; */
  padding-bottom: 50%;
  border: 2px solid black;
  border-radius: 50%;
  margin: 14px;
  overflow: hidden;
}

.selected {
  border: 2px solid rgb(238, 238, 193);
  box-shadow: 5px 5px 5px rgb(236, 236, 181);
}


@media(min-width:1070px) {
  .ball {
    height: 53px;
    width: 53px;
    padding-bottom: 0%;
  }

}

@media(max-width: 432px) {
  .bucket {
    height: 400px;
    width: 45%;
    margin: 5px;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .ball {
    width: 15px;
    height: 15px;
    padding-bottom: 0px;
  }

  #app-container {
    width: 100%;
    height: 200px;
    margin: 0px;
  }

  .switch-button {
    height: 30px;
    position: relative;
    top: 260px;
  }

  #heading {
    font-size: .8rem;
  }
}


.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.brown {
  background-color: brown;
}

.magenta {
  background-color: magenta;
}

.teal {
  background-color: rgb(20, 149, 149);
}

.lightgreen {
  background-color: lightgreen;
}

.olive {
  background-color: olive;
}

.darkslategray {
  background-color: darkslategray;
}

.cornflowerblue {
  background-color: cornflowerblue;
}

.salmon {
  background-color: salmon;
}

.azure {
  background-color: azure;
}