body {
  background-color: rgb(144, 79, 79);
}

#heading {
  color: rgb(76, 20, 20);
  text-align: center;
}

#app-container {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.switch-button {
  justify-self: center;
  align-self: flex-start;
  background-color: rgb(219, 142, 142);
  box-shadow: 5px 5px 5px brown;
  font-size: larger;
  color: rgb(115, 27, 27);
}

.bucket {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  background-color: rgb(171, 184, 195);
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}


.ball {
  height: 67px;
  width: 67px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 14px;
}

.button {
  align-self: flex-end;
}

.selected {
  border: 2px solid rgb(238, 238, 193);
  box-shadow: 5px 5px 5px rgb(211, 211, 163);
}


.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.brown {
  background-color: brown;
}

.magenta {
  background-color: magenta;
}